.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
  color: #fff;
  background-color: #2f353a;
  border-color: #2f353a;

  & button {
    color: white;
    border: 1px solid white;
  }
}

.story-menu {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;

  & a {
    text-decoration: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    font-size: 43px!important;
  }

  &__list {
    width: 491px;
    min-height: 140px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px !important;
  }

  &__icon-wrapepr {
    width: 65px;
    margin-right: 10px;
  }

  &__title {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.228571px;
  }

  &__item {
    height: 30px;
    margin-right: 15px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.171429px;

    &:hover {
        background-color: rgba(85, 94, 101, 0.553649);
    }

    &:active {
      background-color: #2f353a;
      border: 1px solid white !important;
    }
  }

  &__item-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    width: max-content;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__active {
    color: #fff;
    background-color: #2f353a;
    border-color: #2f353a;

    & button {
      color: white;
      border: 1px solid white;
    }
  }
}

// @media all and (max-width: 1140px) {
//   .story-menu {
//     &__list {
//       width: auto;
//     }

//     &__item-block {
//       height: auto;
//     }
//   }
// }


@media all and (max-width: 800px) {
  // .story-menu {
  //   &__item {
  //     height: auto;
  //     max-width: 300px;
  //     margin-right: 0;
  //   }

  //   &__list {
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //   }

  //   &__wrapper {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //   }

  //   &__title {
  //     text-align: center;
  //   }

  //   &__icon {
  //     margin-right: 0;
  //   }
  // }

    .story-menu {
    &__list {
      width: auto;
    }

    &__item-block {
      height: auto;
    }
  }
}

@media all and (max-width: 500px) {
  .story-menu {
    &__list {
      padding: 10px!important;
    }

    &__title {
      margin-bottom: 10px;
    }
  }
}