.login {
  font-family: 'Lato', sans-serif;

  &__card {
    min-height: 564px;
  }

  &__text {
    margin: auto;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
  }

  &__logo {
    width: 112px;
    height: 102px;
    margin: auto;
    margin-top: 47px;
    margin-bottom: 38px;
  }

  &__input {
    height: 34px;
  }

  &__input-img {
    width: 38px;
  }

  &__button {
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.password-icon {
  width: 14px!important;
  height: 14px!important;
}