.image-holder {
  position: relative;
  margin-right: 59px;
  margin-left: 50px;
  .image-preview {
    position: absolute;
    width: 93.5%;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 94px;
    border-radius: 4px;
  }
  .control-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    left: 0;
    top: 40%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    img {
      height: 40px;
      cursor: pointer;
    }
  }
}


@media all and (max-width: 768px) {
  .push-live__btn {
    margin-left: 20px;
    margin-right: 20px;
  }
}
