.social-side {
  margin-right: 30px;

  &__img {
    width: 121px;
    height: 172px;
    margin-bottom: 20px;
  }

  &__img-wrapper {
    height: calc(100vh - 310px);
    overflow-y: scroll;
  }

  &__btn {
    font-family: 'Lato', sans-serif;
    width: 146px;
    height: 44px;
    color: #2F353A;
    font-weight: 500;
    font-size: 18px;
    margin-top: 25px;
  }
}


@media all and (max-width: 992px) {
  .social-side{
    margin-top: 20px;

    & button {
      margin-left: 10px;
    }

    &__img {
      margin-left: 10px;
    }
  }
}

@media all and (max-width: 767px) {
  .social-side {
    margin-top: 30px;
  }
}
