.social-side {
  margin-right: 30px;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  margin-right:auto;
  padding: 0 auto;

  &__img {
    width: 121px;
    height: 172px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    &:hover:after {
      position: absolute;
      content: '⊕';
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 36px;
    }
    &.selected:after {
      position: absolute;
      content: '✔';
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 36px;
    }
    img, video {
      width: 100%;
      height: auto;
    }
  }

  &__img-wrapper {
    height: 437px;
    overflow-y: auto;
    margin-right: 1px;
  }

  &__btn {
    font-family: 'Lato', sans-serif;
    width: 146px;
    height: 44px;
    color: #2F353A;
    font-weight: 500;
    font-size: 18px;
    margin-top: 17px;
    margin-left: 50px;
  }
}

@media all and (max-width: 1300px) {
 .social-side {
   &__img-block {
     justify-content: center;
   }
 }
}

@media all and (max-width: 992px) {
  .social-side {
    margin-top: 20px;
    height: auto;

    &__btn {
      display: none;
    }

    &__img {
      margin-left: 10px;
    }

    &__img-wrapper {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}

@media all and (max-width: 767px) {
  .social-side {
    margin-top: 30px;
    height: auto;
  }
}
