.container-fluid{
  overflow: hidden;
  padding: 0;
}

.promote {
  font-family: 'Lato', sans-serif;
 
  &__icon-block {
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  &__wrapper-icon {
    width: 35px;
    height: 35px;
    border: 1px solid #2F353A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
    margin-right: 9px;
    cursor: pointer;
  }

  &__wrapper-icon-active {
    width: 35px;
    height: 35px;
    border: 1px solid #2F353A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
    margin-right: 9px;
    cursor: pointer;
    background-color: #2F353A;
  }

  &__icon {
    font-size: 20px;
    color: #2F353A;
  }

  &__icon-active {
    font-size: 20px;
    color: white;
  }
  
  &__button {
    min-width: 123px;
    height: 35px;
    border: 1px solid #2F353A;
    color: #2F353A;
    font-weight: bold;
    font-size: 15px;
  }
}

html:not([dir="rtl"]) .sidebar {
  margin-left: -253px;
}

.sidebar {
  height: 100%;
}

@media all and (max-width: 768px) {
  .promote__icon-block {
    padding-top: 30px;
  }

  .promote {
    &__button {
      position: relative;
      right: 10px;
    }

    &__wrapper-icon, &__wrapper-icon-active {
      margin-bottom: 0!important;
      margin-top: 0;
    }
  }
}
// 880
@media (min-width: 767px) and (max-width: 992px) {
  .promote {
  &__icon-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  }
}

@media (min-width: 1200px) and (max-width: 1240px) {
  .promote {
    &__button {
      margin-bottom: 20px;
    }

  .promote__icon-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  }
}

