.panelSetup {
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: 0;
    margin-top: 7rem;
    width: 50%;
    background-color: #F0F3F5;

    .form2 {
      margin-top: 9%;
      padding-left: 30%;

      h2 {
        margin-left: 5%;
      } 
    }

    .form2 div:hover {
      color: #fff;
      background-color: #2f353a;
    }
       
   h2{
       text-transform: uppercase;
       color: #2e2e2e;
       font-weight: bold;
      //  margin-left: auto;
      //  margin-right: 20%;
      //  margin-top: 10%;
       font-size: 1.5rem;
       margin-bottom: 11%;
   }

   &__accountSetup {
    position: absolute;
    top: -111px;
    left: -60%;
    text-transform: uppercase;  
    background-color: #fff;
    width: 200%;
    height: 6rem;
    margin-right: 9px;
    color: #2F353A;
    letter-spacing: 0.257143px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    span {
      position: relative;
      top: 15%;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: 25%;
      margin-bottom: auto;
      margin-top: 0;
      font-size: 1.5rem;
    }
  }

    &__btnSetup {
      width: 16rem;
      height: 44px;
      margin-right: 9px;
      color: #2F353A;
      letter-spacing: 0.257143px;
      font-weight: bold;
      font-size: 18px;
    }

    &__btnSetup:hover {
      background-color: #2F353A;
      color: #fff;
    }
  
    &__btnSetup:active {
        color: #fff;
        background-color: #2f353a;
    }

    &__icon {
      margin-top: 15px;
      font-size: 23px;
      color: #D5D6D8;
      cursor: pointer;
      margin-right: 6px;
      margin-left: 6px;
      margin-bottom: 10px;
    }

    .buttons-three {
      width: 18rem;
      background-color: #F0F3F5;
      height: 44px;
    }

    .icons-three {
      height: 1rem;
      width: 1rem;
      margin-right: .5rem;
    }

    .buttons-three:hover {
      background-color: #2F353A;
      color: #fff;

      .icons-three {
        color: #fff;
      }
    }

  }
 
.btns{
    margin-left: auto;
    margin-right: 10%;
    background-color: #e4e5e6;
    border-color: #2f353a;
    color: #2f353a;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background 9999999s;
}

.btns:hover {
  background-color: #2f353a;
  color: #fff;
  // transition: background 0s;
}

.btns:active {
    span {
      color: #fff;
    }
    // color: #fff;
    background-color: #2f353a;
    transition: background 0s;
}


.panelSetup {
    font-family: 'Lato', sans-serif;
   

      &__icon {
        font-size: 20px;
        color: #2F353A;
      }
    
      &__icon:active {
        font-size: 20px;
        color: white;
      }

    }     

@media all and (max-width: 1199px){
  .panelSetup {
    position: absolute;
    top:36%;
    left: 0;
    min-width: 100%; 
    min-height: 100%; 
    
    &__accountSetup {
        display: none; 
      }

      .form2 {
        margin-top: 50px;
      }   
   }
}

@media all and (max-width: 767px){
 .panelSetup {
   margin-top: 230px;
 }
}

@media (min-width: 768px) and (max-width: 890px){
  .panelSetup {
    margin-top: 230px;
  }
 }

 @media (min-width: 881px) and (max-width: 1100px){
  .panelSetup {
    margin-top: 180px;
  }
 }

 