.light-box {
     position: absolute;
     top: 17%;  
     display: flex;
     flex-direction: column;
     flex-basis: auto;
     text-align: center;
     width: 90%;
     font-family: 'Lato', sans-serif;

     &__title {
       margin-bottom: 45px;
       font-size: 20px;
       font-weight: bold;
       text-transform: uppercase;
     }
     
     .stories {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: bold;
     }

     .drops {
        width: 100%;
        height: 3rem;
        background-color: #fff;
        border-radius: 0;

        span {
          margin-left: 5%;
        }
     }

     .dropItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;      
    }

    .dropsIt {
     position: relative;
     top: 0;
     left: -17%; 
     width: 100%;   
    }

     .drops:hover {
        background-color: #F0F3F5;
     }

     .icons {
        position: absolute;
        left: 2%;
      }

     .btn1 {
        margin-right: 4px;
        height: 20px;
        font-size: 10px;
        font-family: 'Lato', sans-serif!important;
        
        p {
          text-align: center;
          width: 100%;
          margin-top: -5%;
          margin-bottom: auto;
          color: #fff;
        }
     }  

  

     .dropbtn {
      background-color: #fff;
      color: #000;
      padding: 8px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border: #F0F3F5;
      display: flex;
      flex-direction: row;
      height: 4rem;
      box-shadow: 0 0 3px  rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;


      
      &-active {
        background-color: #fff;
        color: #000;
        padding: 8px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border: #F0F3F5;
        display: flex;
        flex-direction: row;
        height: 4rem;
        box-shadow: 0 0 3px  rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F0F3F5;

        & i {
          margin-left: 10px;
          color: #C1C6CB;

       &:hover {
          color: #708393;
      }
        }
      }
    }
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
    
    .dropbtn:hover {
      background-color: #F0F3F5;

      i {
        color: #708393;
      }
    
      .block-circle {
        background-color: #fff;
      }
    
      .little-block-circle {
        background-color: #fff;
      }
    
      span {
        font-weight: bold;
      }
    }
    
    .dropbtn1 {
      box-shadow: 
          0 0 3px  rgba(0,0,0,0.2); 
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
      left: 10px;
    }
    
    .dropdown1 {
        position: relative;
        top: 0; 
    }
    
    .block-circle {
      display: block;
      background-color: #F0F3F5;
      border-radius: 50%;
      border-color: #708393;
      border-style: solid;
      width: 2.8rem;
      height: 2.8rem;
      margin-top: -.5rem;
      border-width: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1px;
    }
    
    .little-block-circle {
      height: 1.3rem;
      width: 1.3rem;
      background-color: #F0F3F5;
      border-color: #708393;
      border: 1px dashed #708393;
      border-radius: 50%;
      margin-top: 25%;
      margin-left: 26%;
      margin-right: auto;
      margin-bottom: auto;
    }
}

.media-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 0 10px;
  flex-direction: row;

  .wrapper-image {
    width: 147px;
    height: 147px;
    cursor: pointer;
    margin: 2px;
    position: relative;

    &:hover:after {
      position: absolute;
      content: '×';
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 36px;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  img {
    width: 147px;
    height: 261px;
    margin: 2px;
    cursor: pointer;
  }
}

.box-wrapper {
  margin-left: 12px;
  width: 90%;

  &__acitve-button {
    width: 42px;
  }

  &__danger-button {
    width: 31px;
  }

  &__eye-button {
    width: 57px;
  }
}

.fa-chevron-right {
  color: #C1C6CB;

  &:hover {
    color: #708393;
  }
}

.box {
  font-family: 'Lato', sans-serif;
  border: 1px solid #C8CED3;
  border-radius: 7px;
  height: 365px;

  &__title-block {
    background: #F0F3F5;
    height: 51px;
    position: relative;

    & i {
      left: 25px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      color: #C1C6CB;
    
      &:hover {
        color: #708393;
      }
    }
  }

  &__title {
    letter-spacing: 0.214286px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
    align-self: center;
    line-height: 51px;
  }

  &__wrapper-buttons {
    height: calc(100% - 61px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
  }

  &__block-up-buttons {
    display: flex;
    flex-direction: column;
  }

  &__up-buttons {
    margin-top: 10px;
    height: 35px;
    color: #2F353A;
    letter-spacing: 0.214286px;
    font-size: 15px;
    font-weight: bold;
  }

  &__block-down-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__down-buttons {
    height: 35px;
    width: 123px;
    color: #2F353A;
    letter-spacing: 0.214286px;
    font-size: 15px;
    font-weight: bold;
  }
}

.fa-chevron-left {
  width: 1.8rem;
  display: flex;
  justify-content: flex-start;
}

.fa-chevron-right {
  width: 16px;
}

@media (min-width: 992px) and (max-width: 1140px) {
   .light-box {
     margin-left: 30px;
   }
}

  @media all and (max-width: 768px) {
    .light-box {
      height: auto;
      position: relative;
      top: 70px;
      bottom: 30px;
    }
  }

  @media all and (max-width: 430px) {
    .box {
      &__block-down-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & button {
          margin-top: 10px;
        }
      }
    }
  }
  