.panel-navigation {
  font-family: 'Lato', sans-serif;
  background: #F0F3F5;
  height: 100%;
  text-align: center;
  color: #708393;
  font-size: 20px;
  z-index: 100;
  border-radius: 25px 0 0 25px;

  &__nav {
    width: 100%;
  }

  &__logo {
    margin-top: 44px;
    margin-bottom: 35px;
    width: 89px;
    height: 33px;
  }

  &__link {
    padding: 8px 0;
    border-radius: -10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.active {
  background-color: #fff;
  font-weight: 900;
}

@media all and (max-width: 992px) {
  .panel-navigation {
    position: fixed;
    height: 96.6%;
  }
}

@media all and (max-width: 768px) {
  .panel-navigation {
    position: relative;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 25px 25px 0 0;
    & nav {
      display: flex;
      width: 70%;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &__link {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 5px;
      font-size: 18px;
    }

    &__navigation {
      margin-right: 10px;
    }
  }
}

@media all and (max-width: 500px) {
  .panel-navigation {
    flex-direction: column;
    height: auto;

    & nav {
     width: 100%;
     padding-bottom: 15px;
    }

    &__link {
     font-size: 16px;
     border-bottom: 5px solid transparent;
    }

    &__logo {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .active {
    background: transparent;
    border-bottom: 5px solid white;
  }
}