.log-out {
  position: absolute!important;
  bottom: 0;
  width: 100%;
  background-color: #252A2E!important;
  border-top: 3px solid #6c6f73;
  
  & a {
    color: #708393!important;

    &:hover {
      color: white!important;
    }
  }
} 

.logo {
  border-bottom: 1px solid white;
  height: 59px;

  & .nav-icon {
    background-image: url('../assets/logo.png');
  }

  & a {
    height: 100%;
    position: relative!important;
    background-size: 100px;
  }
}