.story-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  background: #F0F3F5;
  height: 610px;
  width: 100%;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    // margin-top: -19px;
    margin-bottom: 19px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img-nav-block {
    display: flex;
    .image-holder {
      position: relative;
      margin-right: 59px;
      margin-left: 50px;
      .image-preview {
        position: absolute;
        height: 458px;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 17px;
        border-radius: 4px;
      }
    }
  }

  &__img {
    height: 565px;

  }

  &__back {
    display: none;
  }


  &__nav-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
     
    & svg {
      margin-bottom: 3px;
      font-size: 22px;
      cursor: pointer;
      color: #868E96;
    }
  }

  &__additional {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 50px;

    &__svg {
      margin-bottom: 3px;
      font-size: 22px;
      cursor: pointer;
      color: #868E96;
      margin-right: 10px;
    }

    & svg, i {
      margin-bottom: 3px;
      font-size: 22px;
      cursor: pointer;
      color: #868E96;
      margin-right: 10px;
    }

    & button {
      font-family: 'Lato', sans-serif;
      width: 146px;
      height: 44px;
      color: #2F353A;
      font-weight: 500;
      font-size: 18px;
    }
  }

  &__additional-icons {
    display: flex;
    align-items: center;
  }
}

button[disabled]{
  cursor: not-allowed;
}

@media all and (max-width: 1160px) {
  .story-right {
    height: auto;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__additional {
      align-items: center;
    }

    &__title {
      padding-top: 6px;
    }

     &__additional-icons {
      margin-bottom: 15px;
    }

    & button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

@media all and (max-width: 992px) {
  .story-right {
    margin-top: 20px;
    height: auto;

    &__back {
      display: block;
    }

    &__buttons-wrapper {
      display: flex;
      justify-content: flex-end;

      & button {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

@media all and (max-width: 460px) {
  .story-right {
    &__img {
      margin-right: 10px;
      margin-left: 0;
    }

    &__buttons-wrapper {
      & button {
        width: 120px;
      }
    }
  }
}