.row-setup-profile {
  height: 100%;
  width: 100%;

  & .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.setup-profile {
  font-family: 'Lato', sans-serif;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 41px;
  }

  &__button {
    font-family: 'Lato', sans-serif;
    width: 146px;
    height: 44px;
    margin-top: 150px;
    float: right;
    color: #2F353A;
    font-weight: 500;
    font-size: 18px;
  }

  &__label {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #2F353A;
  }

  &__form-group {
    margin-bottom: 17px;
  }

  &__input {

  }
}

.timezone-picker-list {
  height: 100px;
  overflow-y: scroll;
}

@media all and (max-width: 992px) {
  .setup-profile {
    padding-top: 39px;
    justify-content: center;
    height: auto !important;

    &__btn {
      margin-bottom: 30px;
    }
  }
}