.modal-dialog {
  width: 97%;
  height: 97%!important;
  height: auto;
  background-color: white;
  margin: 0;
  max-width: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 25px;

  .story-details {
    .form-group {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      span {
        white-space: nowrap;
        padding-right: 30px;
      }
    }
  }
  
  & .modal-content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 285px;
    overflow-y: auto;
    .boxItem {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      width: 100px;
      height: 120px;
      border-radius: 4px;
      background: rgba(0,0,0,.1);
      cursor: pointer;
      margin: 10px;
      padding: 10px;
      &:hover {
        background: rgba(0,0,0,.2);
      }
    }
  }
  .products-header {
    background: rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 16px;
  }
  .media-preview {
    max-width: 320px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    .media-holder {
      position: relative;
      border-radius: 4px;
      margin-right: 0;
      cursor: pointer;
      padding: 0 2.5px;
      &.active {
        border: 2px solid rgba(0,0,0,.2);
      }
      &:hover:after {
        position: absolute;
        content: '×';
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 36px;
      }
      img, video {
        width: 100%;
      }
    }

  }

}

.modal {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

.modal-window {
  &__main-row {
    height: 100%;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__right {
    background: #F0F3F5;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    & img {
      margin-top: 20px;
    }

    & h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.navigation-wrapper {
  padding-right: 0;
}

.push-live {
  font-family: 'Lato', sans-serif;
  background-image: url('../../assets/shop_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    // margin-top: -19px;
    margin-bottom: 19px;
  }

  &__page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__btn {
    width: 146px; 
    height: 44px;
    color: #2F353A;
    font-weight: 500;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
  }

  &__page-wrapper-small {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .modal-window {
    &__right {
      margin-top: 30px;
    }

    &__left {
      width: 95%;
      margin: auto;

      & button {
        margin-top: 30px;
        margin-right: 14px;
      }
    }
  }

  .push-live {
    &__btn {
      margin-left: 20px!important;
      margin-right: 20px!important;
    }
  }
}

@media all and (max-width: 768px) {
  .push-live {
    height: calc(100% - 70px);
  }
}

@media all and (max-width: 660px) {
  .push-live {
    &__page-wrapper-small {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      margin-bottom: 30px;
    }

    &__btn {
      margin-right: 8px;
      margin-left: 8px;
      margin-bottom: 20px;
    }

    &__page-wrapper {
      display: none;
    }
  }
}
