@import '~@coreui/icons/css/coreui-icons.css';

@import '~flag-icon-css/css/flag-icon.min.css';

@import '~font-awesome/css/font-awesome.min.css';

@import '~simple-line-icons/css/simple-line-icons.css';

@import './scss/style.scss';

.title-logo {
  background-image: url('./assets/logo.png');
  height: 80px;
  background-size: 70px;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 10px;
  border-bottom: 1px solid white;
}
