@import '~@coreui/icons/css/coreui-icons.css';

@import '~flag-icon-css/css/flag-icon.min.css';

@import '~font-awesome/css/font-awesome.min.css';

@import '~simple-line-icons/css/simple-line-icons.css';

@import './scss/style.scss';

.title-logo {
  background-image: url('./assets/Logo_2.png');
  height: 80px;
  background-size: 70px;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 10px;
  border-bottom: 1px solid white;
}

.title-page {
  font-family: 'Lato', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  top: 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

body {
  background-color: #fff;
}
